*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
    
}

.header h1 {
    text-align: center;
    background-color:rgb(255, 204, 192);
    font-size: 40px;
    color:  rgb(255, 0, 43);
    animation:toLeftFromRight 4s infinite ;
}
.anh1 {
    width: 50%;
   
}

.anh2 {
    width: 50%;
   
}
.anh {
    display: flex;
    overflow: hidden;
}
.icon  {
    text-align: center;
    
}
.icon .cake {
    margin-left: 80px;
   color:cornflowerblue;
    margin-top: 21px;
  
    border-radius: ;
}
.icon h2 {
    color: crimson;
    font-size: 35px;
}
.icon i {
    font-size: 300px;
    color: red;
}
.chucmung {
    margin-top: 50px;
    margin-bottom: 50px;
}
.chucmung h5 , i {
    font-size: 18px;
    color:red;
}
.birth2 {
    width: 100%;
    overflow: hidden;
}
.birth2 img {
    width: 100%;
}
.icon .hoa {
    font-size: 30px;
}
.video iframe {
   position: absolute;
   top: 380%;
   left: 20%;
   
   
   transform: translate (-50%, -50%)

   
}


























@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%)
    }

    50% {
        transform: translateX(-100%)
        
    } 

    
}
